<div class="accordion-container">
  <div class="header">
    <h4 *ngIf="selectedClient">Selected client: {{selectedClient.name}}</h4>
  </div>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Register a client
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form (ngSubmit)="onRegister(form)" #form="ngForm">
        <input type="text" name="name" ngModel required placeholder="Name">
        <button mat-button color="primary" type="submit">Register</button>
      </form>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="getClients()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Clients
        </mat-panel-title>
        <mat-panel-description>
          Select a client
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field>
        <mat-label>Select</mat-label>
        <mat-select [(ngModel)]="selectedClient">
            <mat-option *ngFor="let client of clients" [value]="client">{{client.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="getAccounts()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Clients
        </mat-panel-title>
        <mat-panel-description>
          Select a client
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field>
        <mat-label>Select</mat-label>
        <mat-select [(ngModel)]="selectedClient">
          <mat-option *ngFor="let client of clients" [value]="client">{{client.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-expansion-panel>
  </mat-accordion>
</div>
