<div class="accordion-container">
  <div class="header">
    <h4 *ngIf="selectedClient">Selected client: {{selectedClient.name}} id {{selectedClient.clientId}}</h4>
  </div>
  <div class="header">
    <h4 *ngIf="selectedAccount">Selected account: {{selectedAccount.currency}} {{selectedAccount.amount}} id {{selectedAccount.accountId}}</h4>
  </div>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Register a client
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form (ngSubmit)="onRegister(form)" #form="ngForm">
        <input type="text" name="name" ngModel required placeholder="Name">
        <button mat-button color="primary" type="submit">Register</button>
      </form>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="getClients()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Clients
        </mat-panel-title>
        <mat-panel-description>
          Select a client
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field *ngIf="clients.length; else noClientsBlock">
        <mat-label>Select</mat-label>
        <mat-select [(ngModel)]="selectedClient" (ngModelChange)="onClientChange($event)">
            <mat-option *ngFor="let client of clients" [value]="client">{{client.name}} id: {{client.clientId}}</mat-option>
        </mat-select>
      </mat-form-field>
      <ng-template #noClientsBlock>
        <h3>Register at least one more client to continue</h3>
      </ng-template>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="this.selectedClient">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Accounts
        </mat-panel-title>
        <mat-panel-description>
          register an account
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form [formGroup]="formGroup" (ngSubmit)="addAccount(formGroup.value)">
        <mat-form-field>
          <mat-label>Select</mat-label>
          <mat-select formControlName="selectedCurrency">
            <mat-option *ngFor="let currency of currencyEntries" [value]="currency[0]">{{currency[0]}} {{currency[1]}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-button color="primary" type="submit">Add Account</button>
      </form>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="this.selectedClient && accounts && accounts.length">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Accounts
        </mat-panel-title>
        <mat-panel-description>
          select account
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        <mat-form-field>
          <mat-label>Select</mat-label>
          <mat-select [(ngModel)]="selectedClient.selectedAccount">
            <mat-option *ngFor="let account of accounts" [value]="account">{{account.currency}} {{account.amount}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="this.selectedAccount">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Transaction history
        </mat-panel-title>
        <mat-panel-description>
          {{selectedAccount.currency}} account id: {{selectedAccount.accountId}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form #form="ngForm" style="display: flex; justify-content: center; gap: 15px;">
          <mat-form-field appearance="outline">
            <mat-label>Offset</mat-label>
            <input matInput type="number" [(ngModel)]="offset" ngModel name="offset" min="0">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Limit</mat-label>
            <input matInput type="number" [(ngModel)]="limit" ngModel name="limit" min="0">
          </mat-form-field>
          <button mat-button color="primary" type="submit" (click)="getHistory()">Get Transactions</button>
      </form>
      <table *ngIf="transactions.length" mat-table [dataSource]="transactions" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Transaction Id </th>
          <td mat-cell *matCellDef="let element"> {{element.transactionId}} </td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef> Amount for this account </th>
          <td mat-cell *matCellDef="let element"> {{getAmount(element)}} </td>
        </ng-container>

        <ng-container matColumnDef="transaction type">
          <th mat-header-cell *matHeaderCellDef> Type </th>
          <td mat-cell *matCellDef="let element"> {{getType(element)}} </td>
        </ng-container>

        <ng-container matColumnDef="id of the target account">
          <th mat-header-cell *matHeaderCellDef> Id of the other account </th>
          <td mat-cell *matCellDef="let element"> {{getOtherAccount(element)}} </td>
        </ng-container>

        <ng-container matColumnDef="amount for the target account">
          <th mat-header-cell *matHeaderCellDef> Amount for the other account </th>
          <td mat-cell *matCellDef="let element"> {{getTargetAmount(element)}} </td>
        </ng-container>

        <ng-container matColumnDef="conversion rate">
          <th mat-header-cell *matHeaderCellDef> Conversion rate </th>
          <td mat-cell *matCellDef="let element"> {{element.conversionRate}} </td>
        </ng-container>

        <ng-container matColumnDef="currency">
          <th mat-header-cell *matHeaderCellDef> currency </th>
          <td mat-cell *matCellDef="let element"> {{element.currency}} </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Timestamp </th>
          <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
      </table>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="this.selectedAccount">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Add/Withdraw funds
        </mat-panel-title>
        <mat-panel-description>
          {{selectedAccount.currency}} {{selectedAccount.amount}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form #form="ngForm">
        <input type="number" name="amount" ngModel required placeholder="0.00">

        <mat-form-field >
          <mat-label>Select transfer currency</mat-label>
          <mat-select [(ngModel)]="transferCurrency" name="selectedCurrency">
            <mat-option *ngFor="let currency of currencyEntries" [value]="currency[0]">{{currency[0]}} {{currency[1]}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-button color="primary" type="submit" (click)="addToAccount(form)">Add funds</button>
        <button mat-button color="primary" type="submit" (click)="addToAccount(form, true)">Withdraw</button>
      </form>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="this.selectedAccount">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Transfer funds
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngIf="targetClients.length; else noClientsBlock">
        <mat-form-field >
          <mat-label>Select recipient</mat-label>
          <mat-select [(ngModel)]="targetClient" (ngModelChange)="onClientChange($event)">
            <mat-option *ngFor="let client of targetClients" [value]="client">{{client.name}} id: {{client.clientId}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="selectedClient && targetClient">
          <mat-form-field *ngIf="targetAccounts?.length; else noAccountBlock">
            <mat-label>Select recipient account</mat-label>
            <mat-select [(ngModel)]="targetClient.selectedAccount">
              <mat-option *ngFor="let account of targetAccounts" [value]="account">{{account.currency}} {{account.amount}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div *ngIf="targetAccount">
            <form #form="ngForm">
              <input type="number" name="amount" ngModel required placeholder="0.00">
              <mat-form-field >
                <mat-label>Select transfer currency</mat-label>
                <mat-select [(ngModel)]="transferCurrency" name="selectedCurrency">
                  <mat-option *ngFor="let currency of currencyEntries" [value]="currency[0]">{{currency[0]}} {{currency[1]}}</mat-option>
                </mat-select>
              </mat-form-field>
              <button mat-button color="primary" type="submit" (click)="transfer(form)">Transfer</button>
            </form>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>


<ng-template #noClientsBlock>
  <h3>Register another client to continue</h3>
</ng-template>

<ng-template #noAccountBlock>
  <h3>Recipient client does not have an account</h3>
</ng-template>
